{
    "version": "2017-02-28",
    "operation": "Scan",
    "filter": {
        "expression": "RealmId = :realmId",
        "expressionValues": {
            ":realmId": $util.dynamodb.toDynamoDBJson($ctx.args.RealmId)
        },
    }
}