{
    "version": "2017-02-28",
    "operation": "Scan",
    "filter": {
        "expression": "ClientId = :clientId",
        "expressionValues": {
            ":clientId": $util.dynamodb.toDynamoDBJson($ctx.args.ClientId)
        },
    }
}