{
    "version": "2017-02-28",
    "operation": "UpdateItem",
    "key": {
        "Id": $util.dynamodb.toDynamoDBJson($ctx.args.Id)
    },
    "update": {
        "expression": "SET Accounts = :accounts",
        "expressionValues": {
            ":accounts": $util.dynamodb.toDynamoDBJson($util.defaultIfNull(${ctx.args.Accounts}, {})) 
        }
    }
}